.carousel .slide {
  background: transparent;
}
.card {
  .cardTitle {
    position: absolute;
    top: 20px;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 2px #000000;
  }
  overflow: hidden;
  &:first-child {
    margin: 0 10pt 0 0;
  }
  &not:first-child {
    margin: 0 10pt;
  }
  border-radius: 5pt;
  .card-body {
    background-color: #ffb600;
    border: 1px solid #ffb600; 
    color: white;
    margin: 0;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
    .card-title{
        align-self: center;
        margin-top: 10px;
    }
  }
}
