.carousel .slide {
  background: transparent;
  &:not(.selected){
    opacity: 0.7;
  }
}

.card {
  .cardTitle {
    position: absolute;
    top: 20px;
    width: 100%; 
    text-shadow: 2px 2px 2px #2c2c2c59;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    padding: 20px;
  }

  overflow: hidden;

  &:first-child {
    margin: 0 10pt 0 0;
  }

  &not:first-child {
    margin: 0 10pt;
  }

  border-radius: 5pt;
  .card-body {
    background-color: #ffb600;
    border: 1px solid #ffb600;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-title {
      align-self: center;
      margin-top: 10px;
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      text-align: center;
    }
  }
}