@import url("https://fonts.googleapis.com/css?family=Grand+Hotel");
.logo {
  font-family: "Grand Hotel";
  flex-grow: 1;
}
h1 {
  font-size: 22.5pt;
}
p {
  color: #47525e; 
  font-size: 13px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
}
