h2 {

    color: #343F4B;
    font-size: 22.5px;
    font-weight: 900;
    line-height: 29px;
    text-align: left;

}

.input-group-text {

    color: #47525E;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    background: transparent;
    border: none;
    border-bottom: 2.5px solid #FF9052;
    border-radius: 0;
    padding-left: 0;
}

.form-control {
    border: none;
    border-bottom: 2.5px solid #FF9052;
    border-radius: 0;
    color: #969FAA;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    line-height: 33.5px;
    text-align: left;

}

.btn {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background-color: #969FAA;
    border-radius: 8px;
    border-color: #969FAA;

}